<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="D365ConnectionStringOffice365" connectionString="Url=https://YOURORGNAMEHERE.crm.dynamics.com; Username=YOURUSERNAEMEHERE; Password=YOURPASSWORDHERE; authtype=Office365"/>
    <add name="D365ConnectionStringClientSecret" connectionString="AuthType=ClientSecret; url=https://YOURORGNAMEHERE.crm.dynamics.com; ClientId=YOURCLIENTIDHERE; ClientSecret=YOURCLIENTSECRETHERE"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
